In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv("profesi.csv", delimiter="|")
df

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

__Menampilkan profesi unik dengan menggunakan set__

In [25]:
profesi = list(set(df["occupation"]))
profesi

['educator',
 'technician',
 'student',
 'none',
 'administrator',
 'salesman',
 'scientist',
 'entertainment',
 'writer',
 'artist',
 'healthcare',
 'marketing',
 'lawyer',
 'other',
 'retired',
 'homemaker',
 'librarian',
 'programmer',
 'engineer',
 'executive',
 'doctor']

__Jumlah pekerjaan dihitung dengan len__

In [26]:
len(profesi)

21

In [27]:
dfNew = df.pivot(index="occupation")
dfNew

KeyError: 'None of [None] are in the columns'